<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
      .btn-count {
        margin: 10px; 
        font-size: 30px; 
        width:40%; 
        height:100px;
      }
      .contain {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div  style="text-align: right;">
        <button class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">管理画面</button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">管理画面</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5>集計</h5>
              <table class="table">
                <tbody>
                  <tr>
                    <th>タイトル</th>
                    <th>票数</th>
                    <th></th>
                  </tr>
                  <tr v-for="(button, i) in buttons">
                    <td v-if="button.edit" @click="editTitle(i)"> 
                      <input autofocus @change="button.edit=false" v-model="button.name"/> </td>
                    </td>
                    <td v-else @click="editTitle(i)"> {{button.name}} </td>
                    <td> {{button.num}} </td>
                    <td> <button type="button" class="btn btn-danger" @click="removeButton(i)">削除</button> </td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-primary" @click="addButton">新規追加</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <br> <br>
      <div class="contain">
        <button v-for="(button, i) in buttons" class="btn btn-primary btn-count" @click="countUp(i)">{{button.name}}</button>
      </div>

    </div>
  </body>
</html>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      buttons: [],
    },
    mounted() {
      this.buttons = JSON.parse(localStorage.getItem('data')) || [{name:"testA",num:0,edit:false},{name:"testB",num:0,edit:false}];
    },
    methods: {
      countUp(index) {
        this.buttons[index].num += 1;
      },
      addButton() {
        this.buttons.push({name: "新しい項目", num: 0, edit: true});
      },
      removeButton(index) {
        this.buttons.splice(index, 1)
      },
      editTitle(index) {
        this.buttons[index].edit = true;
      },
    },
    updated() {
      localStorage.setItem('data', JSON.stringify(this.buttons));
    },
  })
</script>